--
-- PostgreSQL database dump
--

\restrict GHfL3s4arC7p5xowJXo83q3gxbyivbJFKfichuEeBNRMHXPvhT3QjVZ36EmxMak

-- Dumped from database version 16.13 (Debian 16.13-1.pgdg13+1)
-- Dumped by pg_dump version 16.13 (Debian 16.13-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: mst_account; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.mst_account (
    account_id uuid NOT NULL,
    created_at timestamp(6) without time zone,
    email character varying(255) NOT NULL,
    password character varying(255) NOT NULL,
    role character varying(255),
    CONSTRAINT mst_account_role_check CHECK (((role)::text = ANY ((ARRAY['ADMIN'::character varying, 'USER'::character varying])::text[])))
);


ALTER TABLE public.mst_account OWNER TO postgres;

--
-- Name: mst_merchant; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.mst_merchant (
    merchant_id uuid NOT NULL,
    account_id character varying(255) NOT NULL,
    created_date timestamp(6) without time zone NOT NULL,
    kode_merchant character varying(255) NOT NULL,
    nama_merchant character varying(255) NOT NULL,
    status character varying(255) NOT NULL,
    updated_date timestamp(6) without time zone NOT NULL,
    deleted_at timestamp(6) without time zone,
    is_deleted boolean DEFAULT false NOT NULL,
    CONSTRAINT mst_merchant_status_check CHECK (((status)::text = ANY ((ARRAY['ACTIVE'::character varying, 'INACTIVE'::character varying])::text[])))
);


ALTER TABLE public.mst_merchant OWNER TO postgres;

--
-- Name: mst_merchant_transaction; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.mst_merchant_transaction (
    transaction_id uuid NOT NULL,
    amount bigint NOT NULL,
    failure_reason character varying(255),
    merchant_id uuid NOT NULL,
    nomor_tujuan character varying(255) NOT NULL,
    product_id character varying(255) NOT NULL,
    status character varying(255) NOT NULL,
    transaction_date timestamp(6) without time zone NOT NULL,
    product_name character varying(255) NOT NULL,
    ref_id character varying(255) NOT NULL,
    CONSTRAINT mst_merchant_transaction_status_check CHECK (((status)::text = ANY ((ARRAY['SUCCESS'::character varying, 'FAILED'::character varying])::text[])))
);


ALTER TABLE public.mst_merchant_transaction OWNER TO postgres;

--
-- Data for Name: mst_account; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: mst_merchant; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: mst_merchant_transaction; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.mst_merchant_transaction (transaction_id, amount, failure_reason, merchant_id, nomor_tujuan, product_id, status, transaction_date, product_name, ref_id) FROM stdin;
\.


--
-- Name: mst_account mst_account_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mst_account
    ADD CONSTRAINT mst_account_pkey PRIMARY KEY (account_id);


--
-- Name: mst_merchant mst_merchant_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mst_merchant
    ADD CONSTRAINT mst_merchant_pkey PRIMARY KEY (merchant_id);


--
-- Name: mst_merchant_transaction mst_merchant_transaction_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mst_merchant_transaction
    ADD CONSTRAINT mst_merchant_transaction_pkey PRIMARY KEY (transaction_id);


--
-- Name: mst_merchant ukhbjrkg0a965cwct9nt7matnip; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mst_merchant
    ADD CONSTRAINT ukhbjrkg0a965cwct9nt7matnip UNIQUE (kode_merchant);


--
-- Name: mst_account ukph5eww5eop1xru3jflo47s2ab; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mst_account
    ADD CONSTRAINT ukph5eww5eop1xru3jflo47s2ab UNIQUE (email);


--
-- Name: idx_merchant_tx_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_merchant_tx_date ON public.mst_merchant_transaction USING btree (transaction_date);


--
-- Name: idx_merchant_tx_merchant; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_merchant_tx_merchant ON public.mst_merchant_transaction USING btree (merchant_id);


--
-- PostgreSQL database dump complete
--

\unrestrict GHfL3s4arC7p5xowJXo83q3gxbyivbJFKfichuEeBNRMHXPvhT3QjVZ36EmxMak

